*{
    margin: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    height: 100%;
    margin: auto;
}
td,tr{
    width: 33%;
    height: 33%;
    margin: 0;
}
h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    background-color: #96CEB4;
    color: #A66E38;
    padding: 20px;
}

table{
    background-color: #FFEEAD;
    margin: auto;
    width: 50%;
    height: auto;

}
td,table,tr{
    border: 9px solid #A66E38;
    border-collapse: collapse;
}
body{
    background-color: #FFAD60;
    overflow-x: hidden;
}
@media (max-width: 819px) { /* For phone screens */
    table {
        width: 99dvw;
        height: 100dvw;
        margin: auto;
        /* Full width on mobile */
    }
}
